{% extends 'main/base.html' %}
{% block title %}Suppliers | DigiDen Sales Point{% endblock %}
{% block content %} 
<div class="row my-5">
    <div class="col">
        <h2>Suppliers <span class="float-end">
            <a href="{% url 'new_supplier' %}" class="btn btn-sm btn-dark">Create New Supplier</a> 
        </span></h2>
        
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    {% if user.is_superuser %}<th class="text-center">Action</th>{% endif %}
                </tr>
            </thead>
            <tbody>
                {% for supplier in suppliers %}
               <tr> <td>{{ supplier.name }}</td>
                <td>{{ supplier.phone }}</td>
                <td>{{ supplier.email }}</td> 
                {% if user.is_superuser %}<td class="text-center"><a href="{% url 'update_supplier' supplier.id %}" class="btn btn-sm btn-dark">edit</a>&nbsp;<a href="{% url 'delete_supplier' supplier.id %}" class="btn btn-sm btn-danger">delete</a></td>{% endif %}
            </tr>
                {% empty %}
                <tr><td colspan="4" class="text-center">No Supplier Found</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}